.footer-apex {
  font-size: 11px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}

.footer-apex .fa.fa-heart {
  vertical-align: top;
  font-size: 10px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  transition: color 1s ease;
}

.footer-apex:hover .fa.fa-heart {
  color: #FF0000;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.9);
  }
}
